*{
  box-sizing: border-box;
}

body{
  background: rgb(205, 206, 231);
}

.logo-img{
  border: 3px solid rgb(205, 206, 231);
  width: 150px;
  margin-top: 1rem;
  transition: all 0.8s;
}

.logo-img:hover{
  width: 180px;
}

nav{
  background: rgb(5, 8, 55);
  padding: 0 !important;
  box-shadow: 0px 42px 62px -34px rgba(0,0,0,0.49);
  -webkit-box-shadow: 0px 42px 62px -34px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px 42px 62px -34px rgba(0,0,0,0.49);
}

.social-container i{
  color: rgb(205, 206, 231);
  margin-top: 1rem;
  margin-left: 0.8rem;
  transition: all 0.7s;
}

.social-container i:hover{
  font-size: 3rem;
}

.nav-container{
  margin-top: 0.5rem;
  padding: 0 !important;
}

.navigation li a{
  color: rgb(205, 206, 231);
  transition: 0.7s;
}

.navigation li a:hover{
  background: rgb(205, 206, 231);
  color: rgb(5, 8, 55);
  font-size: 1.2rem;
}


.article-container{
  color: rgb(5, 8, 55);
  -webkit-box-shadow: 0px 42px 62px -34px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px 42px 62px -34px rgba(0,0,0,0.49);
  box-shadow: 0px 42px 62px -34px rgba(0,0,0,0.49);
}

.article-title{
  background: rgb(5, 8, 55);
  color: rgb(205, 206, 231);
}
